.header {
  width: 100%;
  height: calc(100vh - 120px);
  min-height: 720px;
  background-color: #1D1F21;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  clip-path: circle(0);
  transition: clip-path 2s;
}

.header > .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 120px;
}

.header > .content > .title {
  font-size: 80px;
}

.header > .content > .description {
  font-size: 30px;
  color: #E0E0E0;
}

.header > .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 100px;
  text-align: center;
  font-size: 40px;
  font-weight: lighter;
}

.header > .icon > svg {
  transition: transform 500ms;
}

.header > .icon > svg:hover {
  transform: rotateX(180deg);
}

.header > .icon > svg > .cursor {
  animation: cursorPointing 1200ms infinite alternate;
}

.main > div:nth-child(n+3) {
  padding: 4rem 3rem;
}

.main > div:last-child {
  padding: 0;
}

.main > div:nth-child(n+3) > span {
  color: #FF983F;
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
  margin: 2rem 0;
  float: right;
}
.main > div:nth-child(n+3) > div {
  clear: both;
}

.main > div:nth-child(2n+3) > span {
  float: left;
}

.about {
  background-color: #2C2E30;
  height: 880px;
}

.about > .contents {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.about > .contents > img {
  border-radius: 50px;
}

.about > .contents > .content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.projects {
  background-color: #1D1F21;
  height: 980px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2C2E30;
  height: 580px;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0 10%);
  transition: clip-path 2500ms;
}

.contact > .content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;

  text-align: center;
  color: #fff;
}

.contact > .content > span {
  font-weight: bold;
  font-style: italic;
  font-size: 60px;
}

.contact > .content > p {
  font-size: 30px;
}

.contact > .links {
  width: 200px;
  display: flex;
  flex-grow: 2;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.contact > .links > a > img {
  transition: transform 500ms, width 800ms, height 800ms;
}

.contact > .links > a > img:hover {
  width: 80px;
  height: 80px;
  transform: rotate(360deg);
}

@keyframes cursorPointing {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}