.info {
    width: 480px;
    padding: 20px 0;
    transform: translate(40vw, 0);
    transition: transform 1500ms;
}

.info>.title {
    font-size: 30px;
    color: #FFFFA1;
}

.info>.description {
    font-size: 20px;
    color: #fff;
}


@media (max-width: 768px) {
    .info {
        margin: 0 auto;
        width: 90%;
        padding: 10px 0;
        transform: translate(90vw, 0);
    }

    .info>.title {
        font-size: 20px;
        color: #FFFFA1;
    }

    .info>.description {
        font-size: 15px;
        color: #fff;
    }
}