.footer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101010;
    font-size: 20px;
    font-weight: lighter;
    color: #FFF;
}

@media (max-width: 768px) {
    .footer {
        height: 40px;
        font-size: 15px;
    }
}