.nav {
    display: flex;
    position: sticky;
    height: 90px;
    background-color: #444648;
    padding: 2rem;
    color: #fff;
    font-size: 20px;
    top: 0;
    opacity: 0.95;
    z-index: 100;
}

.nav>.items {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 2;
}

.nav>.items>a {
    transition: font-size 600ms;
}

.nav>.items>a:hover {
    font-size: 25px;
    font-weight: bolder;
}

.nav>.items>a>img {
    border-radius: 30px;
    transition: width 800ms, height 800ms, border-radius 600ms;
}

.nav>.items>a>img {
    border-radius: 30px;
    transition: width 800ms, height 800ms, border-radius 600ms;
}

.nav>.items>a>img:hover {
    width: 65px;
    height: 65px;
    border-radius: 10px;
}

.nav>.divider {
    width: 48px;
    height: 0px;

    margin-top: 12px;
    border: 1px solid #E0E0E0;
    transform: rotate(90deg);
}

.nav>.links {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.nav>.links>a>img {
    transition: width 800ms, height 800ms;
}

.nav>.links>a>img:hover {
    width: 50px;
    height: 50px;
}