.footer {
    font-family: "cafe24";
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 30px !important;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

.infos {
    display: flex;
    width: 100%;
    font-family: "cafe24";
    margin: 20px auto;
    justify-content: space-evenly;
}

.infos>div {
    width: 20%;
}

.infos>div>p {
    font-size: 22px;
}

.infos>div>a:first-child {
    margin-top: 60px;
}

.infos>div>li {
    margin-top: 15px;
    margin-bottom: 25px;
}

.infos>div>li>a {
    text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
    .footer {
        border-color: #222;
    }

    .logo img {
        filter: invert(1);
    }
}