.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "hbios";
}

.fadeIn {
  opacity: 0;
  transition: opacity 2s;
}

.slideIn {
  -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 100% 100%);
  clip-path: polygon(0 0, 0 100%, 0 0, 0 0);
  opacity: 1;
  transition: clip-path 2s;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}